#main{
    
    width:70%;
    margin:auto;
    margin-top:40px;

}
#main div{
    
    
    margin-bottom: 30px;
display:grid;
grid-template-columns: repeat(3,1fr);
gap:20px;
}
#main img{
    width:100%
}